{% extends 'theme/layouts/base.html' %}

{% block page_title %} Detalhe De Cliente {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="card profile px-2">
            <div class="card-header">
                <h4 class="text-center">{{ customer.full_name }}</h4>
            </div>
            <div class="card-body">
                <h6>
                    <i class="fas fa-address-card"></i> Informações Básicas
                </h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <strong>Rg:</strong>{{ customer.rg }}
                    </li>
                    <li class="list-group-item">
                        <strong>Cpf:</strong> {{ customer.cpf }}
                    </li>
                    <li class="list-group-item">
                        <strong>Data De Nascimento: </strong> {{ customer.birth_date }}
                    </li>
                </ul>
                <h6>
                    <i class="fas fa-map-marker-alt mt-4"></i> Endereço
                </h6>
                 <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <strong>Rua:</strong>  {{ customer.address.street }}, {{ customer.address.neighborhood }}, Nº {{ customer.address.number }}
                    </li>
                    <li class="list-group-item">
                       <strong>Cidade</strong> {{ customer.address.city }} - {{ customer.address.state }}
                    </li>
                </ul>
                <h6>
                    <i class="fas fa-address-book mt-4"></i> Contato
                </h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                      <strong>Email:</strong>  {{ customer.email }}
                    </li>
                    <li class="list-group-item">
                       <strong>Telefone:</strong>: DDI: + {{ customer.phone.ddi }}, ({{ customer.phone.ddd }}) - {{ customer.phone.number }}
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'customers:customers_update' customer.pk %}" class="btn btn-secondary float-right">
                            <i class="fas fa-edit mr-2"></i>Editar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}